<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Umut Yılmaz</title>
    <meta charset="UTF-8">
    <meta name="description" content="Umut Yılmaz Kişisel Web Sitesi">
    <meta name="keywords" content="umut ,yılmaz ,CV ,Web Developer, Junior,uylmz96">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="~/Content/img/icon/site-icon.png" rel="shortcut icon" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Content/css/flaticon.css" />
    <link rel="stylesheet" href="/Content/css/owl.carousel.css" />
    <link rel="stylesheet" href="/Content/css/magnific-popup.css" />
    <link rel="stylesheet" href="/Content/css/style.css" />


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="home-three-style">
        <!-- Header section start -->
        <header class="header-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="site-logo">
                        </div>
                    </div>
                    <div class="col-md-8 text-md-right header-buttons">
                        <a href="~/Content/download/Umut Yılmaz_Cv.pdf" class="site-btn">CV İNDİR</a>
                        @*<a href="/Content/#" class="site-btn">BENİ KEŞFET</a>*@
                    </div>
                </div>
            </div>
        </header>
        <!-- Header section end -->

        <div class="container-fluid p-0">
            <div class="row m-0">
                <div class="col-xl-5 col-lg-5 p-0">
                    <div class="main-left-area h-100">
                        <section class="intro-section">
                            <figure class="hero-image">
                                <img src="~/Content/img/uylmz96.jpg" alt="" height="400" width="300">
                            </figure>
                            <div class="hero-text">
                                <h2>Umut<br>Yılmaz</h2>
                                <p>Bilgisayar Mühendisi / Web Developer</p>
                            </div>
                            <p class="mb-5">Liseden beri programlama ile yakından ilgileniyorum ve bu işi gönülden severek yapıyorum. Full-Stack Web Developer olarak kendimi geliştirmek istiyorum. Yeni şeyler öğrenme konusunda her zaman meraklı ve arayış içerisindeyim.</p>
                            <div class="hero-info pt-5">
                                <h2>Genel Bilgi</h2>
                                <ul>
                                    <li><span>Telefon </span>+90 542 535 8302</li>
                                    <li><span>E-mail</span>uylmz96@gmail.com</li>
                                    <li><span>Adres</span>Gebze, Kocaeli</li>
                                    <li><span>Doğum Tarihi</span>Ara 5, 1996</li>
                                </ul>
                            </div>
                            <div class="social-links">
                                <a href="https://github.com/uylmz96"><i class="fa fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/uylmz96/"><i class="fa fa-linkedin"></i></a>
                                <a href="https://www.instagram.com/uylmz96/"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.facebook.com/uylmz96"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/uylmz96"><i class="fa fa-twitter"></i></a>
                            </div>
                        </section>

                        @*<section class="extra-section spad">
                                <div class="section-title">
                                    <h2>Extra Skills</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <div class="fact-box trans">
                                            <div class="fact-content">
                                                <div class="circle-progress">
                                                    <div id="progress1" class="prog-circle"></div>
                                                    <div class="progress-info">
                                                        <h2>75%</h2>
                                                    </div>
                                                    <div class="prog-title">
                                                        <h3>Inspiration</h3>
                                                        <p>Etiam nec odio vestibulum est.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <div class="fact-box trans">
                                            <div class="fact-content">
                                                <div class="circle-progress">
                                                    <div id="progress2" class="prog-circle"></div>
                                                    <div class="progress-info">
                                                        <h2>83%</h2>
                                                    </div>
                                                    <div class="prog-title">
                                                        <h3>Inspiration</h3>
                                                        <p>Etiam nec odio vestibulum est.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="fact-box">
                                            <div class="fact-content">
                                                <img src="/Content/img/icon/1-w.png" alt="">
                                                <h2>14</h2>
                                                <p>Years of Experience</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="fact-box">
                                            <div class="fact-content">
                                                <img src="/Content/img/icon/2-w.png" alt="">
                                                <h2>9</h2>
                                                <p>Awards Won</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>*@
                        <!-- skill section start -->
                        <div class="skill-section">
                            <div class="section-title">
                                <h2>Yetenekler</h2>
                            </div>
                            <div class="skills">
                                <div class="single-progress-item">
                                    <div class="progress-bar-style" data-progress="75"></div>
                                    <p>
                                        Asp.Net <br />
                                        (Web Form,MVC,Entity Framework)
                                    </p>
                                </div>
                                <div class="single-progress-item">
                                    <div class="progress-bar-style" data-progress="75"></div>
                                    <p>SQL</p>
                                </div>
                                <div class="single-progress-item">
                                    <div class="progress-bar-style" data-progress="65"></div>
                                    <p>JavaScript/JQuery/AJAX</p>
                                </div>
                                <div class="single-progress-item">
                                    <div class="progress-bar-style" data-progress="65"></div>
                                    <p>HTML/CSS</p>
                                </div>
                            </div>
                        </div>
                        <!-- skill section end -->
                        <section class="language-section spad">
                            <div class="section-title">
                                <h2>Yabancı Dil</h2>
                            </div>
                            <ul class="language-progress">
                                <li>İngilizce <div class="lan-prog" data-lanprogesss="2"></div></li>

                            </ul>
                        </section>

                    </div>
                </div>

                <div class="col-xl-6 col-lg-7">
                    <div class="main-right-area">
                        <!-- Resume section start -->
                        <section class="resume-section spad pt-0">
                            <div class="section-title">
                                <h2>İş Tecrübesi</h2>
                            </div>
                            <ul class="resume-list">
                                <li>
                                    <h2>Haz, 2018 - Ağu, 2018</h2>
                                    <h3>İntra Net Bilgi Sistemleri</h3>
                                    <h4>Junior Web Developer</h4>
                                    <p>Üniversite zorunlu staj kapsamında staj süresi içerisinde ve sonrasında, mevcut proje içerisinde <b>Asp.Net</b> ve <b>PL-SQL</b> ve yanı sıra HTML,CSS,JS,AJAX kullanarak sağlık ve reçete modülleri geliştirdim.</p>
                                </li>
                                <li>
                                    <h2>Haz, 2017 - Ağu, 2017</h2>
                                    <h3>İntra Net Bilgi Sistemleri</h3>
                                    <h4>Junior Web Developer</h4>
                                    <p>Üniversite zorunlu staj kapsamında staj süresi içerisinde ve sonrasında, mevcut proje içerisinde <b>Asp.Net</b> ve <b>PL-SQL</b> kullanarak masraf formu geliştirdim.</p>
                                </li>
                            </ul>
                        </section>
                        <!-- Resume section end -->
                        <!-- Resume section start -->
                        <section class="resume-section">
                            <div class="section-title">
                                <h2>Eğitim</h2>
                            </div>
                            <ul class="resume-list">
                                <li>
                                    <h2>2019</h2>
                                    <h3>Bilgisayar Mühendisliği</h3>
                                    <h4>Mersin Üniversitesi</h4>
                                    <p> 79.81/100 ortalama ile bölüm 2. olarak mezun oldum.</p>
                                </li>
                                <li>
                                    <h2>2014</h2>
                                    <h3>Bilişim Teknolojileri</h3>
                                    <h4>Gebze Anadolu Teknik Lisesi</h4>
                                    <p> 75.74/100 ortalama ile mezun oldum.</p>
                                </li>
                            </ul>
                        </section>
                        <!-- Resume section end -->
                        <!-- Review section start -->
                        <section class="review-section spad">
                            <div class="section-title">
                                <h2>Referanslar</h2>
                            </div>
                            <div class="review-slider owl-carousel">
                                <div class="single-review">
                                    <h2>Burak ÖZKARA</h2>
                                    <br />
                                    <h3>Bilgisayar Mühendisi - 0507 565 0656</h3>
                                </div>
                                <div class="single-review">
                                    <h2>Doç. Dr. Erdinç AVAROĞLU</h2>
                                    <br />
                                    <h3>Mersin Üniversitesi - 0532 608 0822</h3>
                                </div>
                            </div>
                        </section>
                        <!-- skill section start -->
                        <div class="skill-section">
                            <div class="icon-box-area spad">
                                <div class="icon-box">
                                    <i class="flaticon-004-cinema"></i>
                                    <p>Sinema</p>
                                </div>
                                <div class="icon-box">
                                    <i class="flaticon-018-music-player"></i>
                                    <p>Müzik</p>
                                </div>
                                <div class="icon-box">
                                    <i class="flaticon-007-sports"></i>
                                    <p>Futbol</p>
                                </div>
                                <div class="icon-box">
                                    <i class="flaticon-015-photo-camera"></i>
                                    <p>Fotoğrafçılık</p>
                                </div>
                                <div class="icon-box">
                                    <i class="flaticon-005-game-console"></i>
                                    <p>Oyun</p>
                                </div>
                            </div>
                        </div>
                        <!-- skill section end -->
                        <div>
                            <span><b>Ziyaretçi Sayısı : @ApplicationInstance.Application["Totaluser"]</b></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer section start -->
    <footer class="footer-section">
        <div class="container text-center">
            <div class="copyright">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır. Uylmz96</a>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="/Content/js/jquery-2.1.4.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/owl.carousel.min.js"></script>
    <script src="/Content/js/magnific-popup.min.js"></script>
    <script src="/Content/js/circle-progress.min.js"></script>
    <script src="/Content/js/main.js"></script>
</body>
</html>